<% provide(:title, "Posts") %>
<div class="large-8 small-centered columns">
  <h1>Posts</h1>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.name, article %> <%= article.date.to_date %>
        <% if current_user %>
       | <%= link_to "Edit", edit_article_path(article.id) %>
       <% end %>
      </li>
    <% end %>
  </ul>

  <div class="right">
    <% if current_user %>
      <%= link_to "New Post", new_article_path, class:'button alert tiny radius' %>
    <% end %>
    <%= link_to "Back", root_path, class:'button tiny radius' %>
  </div>
</div>