<div class="centered">
  <div class="large-6 small-centered columns">
    <div>
      <% if current_user %>
        <icon class="fi-x"></icon> <%= link_to "Logout", :logout, method: :post %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <h1 id="header-text">
      Danny Yu
    </h1>
    <p>
      NYC Based Software Developer<br />
      Senior majoring in Computer Science at Binghamton University<br />
      <icon class="fi-mail"> danny [@] himynameisdanny.com</icon><br />
      <icon class="fi-page-pdf"> <%= link_to "Resume", "https://s3.amazonaws.com/dannyyusite/uploads/DannyYuResume.pdf", target:"_new" %></icon> |
      <icon class="fi-social-github"> <%= link_to "Github", "http://github.com/dannyyu92", target:"_new" %></icon> |
      <icon class="fi-torso"> <%= link_to "About Me", about_index_path %></icon><br />
    </p>      
  </div>
</div>

<div class="large-8 small-centered columns">
  <div class="Posts">
    <h3><%= link_to "Posts", articles_path, class: "section-header" %></h3>
    <hr>
    <ul>
      <% if @recent_articles %>
        <% @recent_articles.each do |article| %>
          <li><%= link_to article.name, article %> <%= article.date.to_date %></li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to "View More Posts", articles_path %>
  </div>

  <div class="Projects">
    <h3><%= link_to "Projects", projects_path, class: "section-header" %></h3>
    <hr>
    <% if @recent_projects %>
      <% @recent_projects.each do |proj| %>
        <p>
          <strong>
            <%= link_to proj.name, proj %><br />
          </strong>
          <%= raw proj.body %><br /><br />
          <% unless proj.github.empty? %>
            <%= link_to "Github", proj.github, class:"button tiny radius", target: "_new" %>
          <% end %>
          <% unless proj.site_link.empty? %>
            <%= link_to "Site Link", proj.site_link, class:"button tiny radius", target: "_new" %>
          <% end %>
        </p>
      <% end %>
      <%= link_to "View More Projects", projects_path %>
    <% end %>
  </div>

  <div class="Work">
    <h3><%= link_to "Work", works_path, class: "section-header" %></h3>
    <hr>
    <% if @works %>
      <% @works.each do |work| %>
        <p>
          <strong>
            <% if work.site_link.empty? %>
              <%= work.name %><br />
            <% else %>
              <%= link_to work.name, work.site_link, target:"_new" %><br />
            <% end %>
          </strong>
          <%= raw work.body %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

