<% provide(:title, "Projects") %>
<div class="large-8 small-centered columns">
  <h1>Projects</h1>
  <%= link_to "New Project", new_project_path, class:"button alert tiny radius" %>
  <ul>
    <% @projects.each do |project| %>
      <hr>
      <h3>
        <%= project.name %>
      </h3>
      <%= image_tag project.picture.url(:medium) %>
      <br /><br />
      <p>
        <%= raw project.body %>
      </p>
      <p>
        <% unless project.github.empty? %>
          <%= link_to "Github", project.github, class:"button tiny radius" %>
        <% end %>
        <% unless project.site_link.empty? %>
          <%= link_to "Site Link", project.site_link, class:"button tiny radius" %>
        <% end %>
      </p>

      <%= link_to 'Back', root_path, class:"button tiny radius right" %>
      <%= link_to "Edit", edit_project_path(project.id), class:"button alert tiny radius" %>
    <% end %>
  </ul>


</div>