<% provide(:title, @project.name) %>
<div class="large-6 small-centered columns">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @project.name %>
  </h3>
  <%= image_tag @project.picture.url %>
  <br /><br />
  <p>
    <%= raw @project.body %>
  </p>
  <p>
    <% unless @project.github.empty? %>
      <%= link_to "Github", @project.github, class:"button tiny radius" %>
    <% end %>
    <% unless @project.site_link.empty? %>
      <%= link_to "Site Link", @project.site_link, class:"button tiny radius" %>
    <% end %>
  </p>

  <%= link_to 'Back', projects_path, class:"button tiny radius right" %>

  <% if current_user %>
    <%= link_to 'Edit', edit_project_path(@project), class:"button alert tiny radius" %>
    <%= link_to "Destroy", @project, method: :delete, data: { confirm: "Are you sure?" }, class:"button alert tiny radius" %>
  <% end %>
</div>